[package]
name = "powerboxesrs"
version = "0.2.0"
edition = "2021"
license = "MIT"
readme = "README.md"
authors = ["Buillaume <guillaume.bertrand@edhec.com>"]
description = "Utility functions to manipulate and compute metrics on boxes"
repository = "https://github.com/Smirkey/powerboxes"
homepage = "https://github.com/Smirkey/powerboxes"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "powerboxesrs"
crate-type = ["lib"]

[dependencies]
itertools = "0.12.0"
ndarray = { version = "0.15.6", features = ["rayon"] }
num-traits = "0.2.17"
rayon = "1.8.0"
rstar = "0.11.0"
ultraviolet = { version = "0.9.2", features = ["num-traits", "f64", "int"] }

[dev-dependencies]
codspeed-criterion-compat = "2.3.1"
criterion = "0.5.1"


[[bench]]
name = "bench_iou"
harness = false
