name: ci

on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - closed
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}/${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  rust-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Check
      run: cargo check --no-default-features
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Check formatting
      run: cargo fmt -- --check
    - name: code-coverage
      env:
        TOKEN: ${{secrets.CODECOV_TOKEN}}
      run: |
        cargo install cargo-tarpaulin --force --git https://github.com/xd009642/tarpaulin --branch develop
        cargo tarpaulin --out xml
        bash <(curl -s https://codecov.io/bash)

