name: codspeed-benchmarks

on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - closed
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}/${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@v0
        with:
          channel: stable
          cache-target: release
          bins: cargo-codspeed

      - name: Install project
        run: |
          cd bindings
          uv sync --group dev
          uv run maturin develop --release

      - name: Build the benchmark target(s)
        run: cd powerboxesrs && cargo codspeed build

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v2
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: cd bindings && uv run pytest tests/ --codspeed && cd ../powerboxesrs && cargo codspeed run
