name: codspeed-benchmarks

on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - closed
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}/${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r bindings/requirements-dev.txt

      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@v0
        with:
          channel: stable
          cache-target: release
          bins: cargo-codspeed

      - name: Install project
        run: pip install bindings/.

      # - name: Build the benchmark target(s)
      #   run: cd powerboxesrs && cargo codspeed build

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v2
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          # run: pytest bindings/tests/ --codspeed && cd powerboxesrs && cargo codspeed run
          run: pytest bindings/tests/ --codspeed
